/*common shared styles*/
body {
    font-family: 'Open Sans', sans-serif;
}


/* nav related styles*/
nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    
}

.nav-title {
    color: black;
    font-size: 45px;
    font-weight: 800;
}

.primary-button {
    border-radius: 5px;
    background:coral;
    color: white;
    padding: 15px 35px;
    border: 0px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}
.text-primary {
    color: coral;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

/*  header related style*/

.header {
    background-color: #fff8f3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    
}

.banner-greeting {
    font-size: 45px;
    margin-bottom: 0px;
}
.banner-title {
    color: coral;
    font-size: 70px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    margin-top: 20px;
}

.banner {
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-picture {
    width: 500px;
}

/* main section styles */
main {
    max-width: 1140 px;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description { 
    color: #757575;
    text-align: center;
    font-size: 18px;
    
}
/*about section styles */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #fff8f3;
    margin: 130px ;

}
.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;

}
#what-i-do {
    padding: 30px 150px;
}

